<h1>Browse Users</h1>
<%= render partial: "shared/search", locals: {path: users_path}  %>
<br>

<% @users.each do |user| %>
	<div class="lists">
		<strong><%= link_to user.username, user_recommends_path(user), class: "links" %></strong>
	</div>
<% end %>
