<h2><%= link_to recommend.user_name, user_path(recommend.user), class: "links" %>: <%= link_to recommend.category_name, category_path(recommend.category), class: "links" %> - <%= link_to recommend.brand_name, brand_path(recommend.brand), class: "links" %></h2>
<p><%= recommend.comment %></p>
