<h1>Welcome to Recommend!</h1>
<br>
<% @recommends.each do |recommend| %>
	<div class="lists">
		<h2><%= link_to recommend.user_name, user_path(recommend.user), class: "links" %></h2>
		<%= render partial: "recommend", locals: {recommend: recommend} %>
		<div>
			<%= button_to "View", recommend_path(recommend), method: "get" %>
			<% if recommend.user != current_user %>
				<%= button_to "Recommend", new_brand_recommend_path(recommend.brand), method: "get" %>
			<% end %>
		</div>
	</div>
<% end %>
