<h1>Welcome to Recommend!</h1>
<br>
<% @recommends.each do |recommend| %>
	<ul class="lists">
		<h2><%= link_to recommend.user_name, user_path(recommend.user), class: "links" %> recommends a <%= recommend.category_name %> - <%= recommend.brand_name %></h2> 
		<p><%= recommend.comment %></p>
	</ul>
<% end %>
