/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@media screen {

  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  body {
    /* background-color: lightblue; */
		background-color: #ccc;
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
  }

  .wrapper {
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    margin: 60px auto;
    max-width: 960px;
    padding: 2.25%;
    /* 18px / 800px */
    width: 85%;
  }

  h1 {
    font-size: 40px;
    line-height: 54px;
		margin-bottom: 8px;
  }

  h2 {
    border-bottom: 2px solid #ccc;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 8px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin: 8px auto;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%;
    /* 480px / 800px */
  }

  .sidebar {
    background: #eee;
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%;
    /* 5px / 240px */
    width: 30%;
    /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }
}

.lists {
	padding: 10px 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 4px;
}

.lists:hover {
  /* cursor: pointer; */
  background-color: #f5f8fa;
	/* border-color: #fff; */
}

.links {
  text-decoration: none;
  color: #385898;
  margin: 8px auto;
}

.links:hover {
  text-decoration: underline;
}

.label {
	margin: 8px auto;
	font-size: 20px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */
	background-color: #385898;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;

}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: lightblue;
	color: #111;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #385898;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.info {
	color: white;
	padding: 7px 8px;
}


.mini ul {
	border-radius: 4px;
}

.mini li a {
	padding: 7px 8px;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
  background-color: lightblue;
	color: #111;
}

.button {
  border-radius: 4px;
  /* text-transform: none; */
  display: block;
  text-align: center;
  /* outline: none; */
  padding: 12px 22px 10px;
  /* font-family: inherit; */
  text-decoration: none;
  /* position: relative; */
  /* white-space: nowrap; */
  /* transition: all 0.12s; */
  cursor: pointer;
  /* -webkit-user-select: none; */
  font-weight: bold;
  line-height: 1.25;
  font-size: 15px;
  /* margin: 0; */
  width: 30%;
}

.button-blue {
  background-color: rgb(97, 175, 239);
  color: #ffffff;
  width: 34%;
  border: none;
}

.button-white {
  border: 1px solid #00BCE1;
  background: transparent;
  color: #00BCE1;
}

.alert {
	color: red;
}

.notice {
	color: blue;
}

.field_with_errors {
	display: inline;
}

.field_with_errors input {
	border: 2px solid red;
}

.right {
	float: right;
}
