<% @categories.each do |category| %>
	<div class="lists">
		<h2><%= link_to category.name, category_path(category), class: "links" %></h2>
		<% category.brands.top_three.each do |brand| %>
			<%= render partial: "brands", locals: {brand: brand} %>
		<% end %>
	</div>
<% end %>
