<h1><%= @brand.name %></h1>
<p><%= link_to "(#{@brand.category_name})", category_path(@brand.category), class: "links" %></p>
<h1>Recommendations</h1>
<% @brand.recommends.each do |recommend| %>
	<ul class="lists">
		<h2><%= link_to recommend.user_name, user_path(recommend.user), class: "links" %></h2>
		<p><%= recommend.comment %></p>
	</ul>
<% end %>
