<h1>All categories</h1>
<br>
<% @categories.each do |category| %>
	<div class="lists">
		<h2><%= category.name %></h2>
		<% category.brands.top_three.each do |brand| %>
			<li>
				<strong>
					<%= link_to brand.name, brand_path(brand), class: "links" %>
				</strong>
				<div>
					(<%= pluralize(brand.users.count, "recommend") %>)
				</div>
			</li>
			<br>
		<% end %>
	</div>
<% end %>
