<h1>Browse for categories</h1>
<%= render partial: "shared/search", locals: {path: categories_path} %>
<br>

<% @categories.each do |category| %>
<div class="lists">
	<div>
		<strong><%= link_to category.name, category, class: "links" %></strong>
	</div>
	<div>
		<%= link_to "Recommend", new_category_recommend_path(category), class: "links" %>
	</div>
</div>
<% end %>
