<h1><%= @category.name %></h1>
<div class="navbar mini">
	<ul>
		<li><%= link_to "Recommend", new_category_recommend_path(@category) %></li>
	</ul>
</div>
<br>
<div>
	<% @brands.each do |brand| %>
	<%= render partial: "shared/name_list", locals: {zone: brand} %>
	<% end %>
</div>
